.output-section {
  margin-top: 3rem;

  @media screen and (min-width: $bp-medium) {
    margin-top: 2rem;
  }

  #extream-error {
    color: var(--light-red);
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--off-white);
    border-radius: 10px;
    margin-top: 3rem;
  }

  .output {
    font-size: 3rem;
    font-size: clamp(2rem, 13vw, 4rem);
    line-height: 1.1;
    font-weight: 800;
    color: var(--off-black);
    font-style: italic;
    transform: scale(1);
    transform-origin: left;
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    span {
      display: inline-block;
      color: var(--purple);
      margin-right: 10px;
    }
  }
}
